/* import mixins */
@import '../global-scss/mixins.scss';
/* import mixins */


// product list

.products{
    .products-container{
        display:flex;

        @include mobile{
            flex-direction: column;
        }
        
        .side-bar{
            flex-basis: 30%;
            margin-right: 25px;

            ul{
                list-style: none;

                li{
                    padding: 5px 10px;
                    width:100%;
                    margin:10px 0;
                    color:white;
                    text-align: center;
                    background: #343a40;
                    cursor: pointer;

                    &:hover{
                        background: #3f4a56;
                    }
                }
            }
        }
        .product-list{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            border: 2px solid #f1f1f1;
            border-radius: 5px;
            padding: 10px;
            background: #fcfcfc;
            @include mobile{
                flex-direction: row;
                padding: 0px;
                justify-content: space-between;
            }
            .product-item{
                flex-basis: 30.333333%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 5px 10px;
                border: 2px solid #eee;
                background: white;
                position: relative;

                &:hover{
                    background: #f9f9f9;
                }

                // all P tags [ price - name - category - date - sku ]
                p{

                    strong{
                        font-weight: normal;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                    }
                    &.name{
                        color: #ff764c;
                        font-size: 22px;
                        letter-spacing: 2px;
                        font-weight: bold;
                        text-transform:uppercase;

                        strong{
                            font-weight: bold;
                        }
                    }
                    &.date{
                        font-size: 10px;
                    }
                }
                @include mobile{
                    width:48%;
                    flex-basis: unset;
                    margin:5px 2px;
                    
                    p{
                        font-size:10.5px;
                        &:not(.name){
                            margin-bottom: 4px !important;
                        }
                        &.name{
                            letter-spacing: 2px;
                            font-weight: bold;
                            font-size:16px;
                            text-transform:uppercase;
                        }
                    }
                }
                .product-image{
                    width:100%;
                    position: relative;
                    padding:5px;

                    cursor: pointer;
                    img{
                        width:100%;
                    }
                    &:hover .overlay{
                        top:0;
                        height:100%;
                    }
                    .overlay{
                        position: absolute;
                        bottom:0;
                        height:0;
                        width:100%;
                        background: rgba(0,0,0,.6);
                        transition: .5s;
                        overflow: hidden;
                        .show-image{
                            position: relative;
                            left:50%;
                            top:50%;
                            transform: translate(-50%,-50%);
                            font-size:20px;
                            background: black;
                            color:white;
                            border-radius: 50%;
                            height:50px;
                            width:50px;
                            text-align: center;
                            line-height: 50px;
                            cursor: pointer;
                            &:hover{
                                
                            }
    
                        }
                    }

                    
                    
                }
    
                .product-desc{
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    
                }
            }
        }
        
    }
}


// modal showing product image
.modal-show-image{
    background: rgba(0,0,0,.6);
    position: fixed;
    top:0px;
    left:0px;
    width:100vw;
    height: 100vh;
    text-align: center;
    z-index:9999;

    & > div{
       
            position: relative;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            display:block;
            width:280px;

            

            img{
                width:100%
            }
    }

    .close-image{
        position: absolute;
        border: 2px solid;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        line-height: 42px;
        padding: 0px;
        margin: 0px;
        font-size: 28px;
        color:white;
        top:-65px;
        right:0px;
        cursor: pointer;
    }
}


// price

.price{
    background: #ffbba6;
    color: white;
    padding: 5px 10px;
    text-align: center;
    border-radius: 0;
    position: absolute;
    bottom: 6px;
    left: -16px;
    font-size:20px !important;
    
    @include fromMidToLarge{
        strong{
            font-size:30px;
            font-weight: bold !important;
        }
    }
    @include mobile{
        left:unset;
        bottom:-12px;
        font-size: 13px !important;

        strong{
            font-weight: bold !important;
        }
    }
}

.date{
    color:#ccc;

    strong{
        font-weight: bold !important;

    }
}