<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

<!------ Include the above in your HEAD tag ---------->



<!--  -->
<div class="container">
    <div class="row">
  
      <section class="content">
        <h1>Products</h1>
        <div class="col-md-12 ">
          <div class="panel panel-default">
            <div class="panel-body">
              
              <div class="table-container">
                <table class="table table-filter">
                  <tbody>
                    
                      <tr data-status="pagado" *ngFor="let product of Products | async">
                      <td>
                        <div class="media">
                          <a href="#" class="pull-left">
                            <img src="{{product.imageUrl}}" class="media-photo">
                          </a>
                          <div class="media-body">
                            <span class="media-meta pull-right">{{ product.date }}</span>
                            <h4 class="title">
                             {{ product.name }}
                              <span class="pull-right pagado">{{ product.price | currency:'USD':ture:'1.0-0' }}</span>
                            </h4>
                            <p class="summary">{{ product.category }}</p>
                            <p class="summary">{{ product.sku }}</p>
                            <div class="pull-right">
                                <button type='button' class="btn btn-success">update</button>
                                <button type='button' class="btn btn-secondary">cancel</button>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          
        </div>
      </section>
      
    </div>
  </div>