<!-- <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"> -->

<!------ Include the above in your HEAD tag ---------->



<!--  -->
<div class="container">
    <div class="row">
  
      <section class="content">
        <h1>Products</h1>
        <div class="col-md-12 ">
          <div class="panel panel-default">
            <div class="panel-body">
              
              <div class="table-container">
                <table class="table table-filter">
                  <tbody>
                    
                      <tr data-status="pagado" *ngFor="let product of Products | async">
                      <td>
                        <div class="media" style="position: relative;">
                          <a href="#" class="pull-left">
                            <img src="{{product.imageUrl}}" class="media-photo">
                          </a>
                          <div class="media-body">
                            <h4 class="title">{{ product.name }}</h4>

                            <div class="tag tag--pink">
                              <span class="pull-right pagado tag-label">{{ product.price | currency:'USD':ture:'1.0-0' }}</span>
                            </div>

                            <p class="summary"><span>Category : </span>{{ product.category }}</p>
                            <p class="summary"><span>SKU Number : </span>{{ product.sku }}</p>
                            <span class="media-meta"><span>Date Created : </span>{{ product.date }}</span>
                          </div>
                        </div>
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          
        </div>
      </section>
      
    </div>
  </div>